[Desktop Entry]
Name=ArchPI Configurator
Comment=Configure and run Arch Linux post-installation scripts
Exec=gjs main.js
Icon=system-run
Terminal=false
Type=Application
Categories=GTK;GNOME;System;Utility;
StartupNotify=true
